.App {
  text-align: center;
  font-family: 'Edu TAS Beginner', cursive !important;
}

.bg-primary {
  background-color: teal !important;
}

.btn-primary {
  --bs-btn-bg: none !important;
  --bs-btn-border-color: teal !important;
  --bs-btn-hover-bg: teal !important;
  --bs-btn-hover-border-color: teal !important;
  color: rgb(33, 255, 255) !important;
}
